language: python
sudo: false

notifications:
  email: false

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"
  - "pypy"
  - "pypy3.5"

env:
  matrix:
    - WITH_SHAPELY=1
    - WITH_SHAPELY=0
  global:
    secure: "UpVMzQjYMoyt8cbWc/QPNqRzV2Z9rnIqCAY0BP/DdRHDjhzRTmvoiEEYhAa6Bl10EAWosC23lc262x0EliWJ6wt5iy9VjPw+Ep+VBIrzG7Rl/q1lnPBmTfg7r2fbiwKUbFYSTVj7dQ3hCTHfr4BIQ1ZluisaPKZf8oRxoii528xGRHz2eASSluXba22bzN+QyuKWGDYxEdctsS3m+HAr9A+HpN+1MiMYDzsrv/CkdVWdll9K8E53uuucvgV8NhY9oS+iAL/JQxB3fZO5Plj10cjS097GEdRnHI8h1dK59IKcaa1ZshTlDHNwacv6DfiGjtsgA/TxCi1LZWD/rp+qPYVtMTfHsYI6pznA8/BfB64eQIjbRroHkJ8ih2n3b7bc6BNNrvXpesD9+lleocnYL4XOeLJd+H9q/QvKSDv8IdXrj+K213Ohk65qCdAv1lNDlPirjwDH5pEc4ANp5Tiit/9HgO5khe77yDqmn1ob8AZoe7WwJQPx3dgr41LVFvqIk0tjEcfc0P+Q175Zr1+9o25QfZgIxUzss0k3QmKs+NBGbzOKqaxHmUi5sKggsRNWN+S5dxYa6v3WbzXUMPmvUEQ/UkHkqs93qmMOy2CUUZKkpq1xEc+fN1zGAMuXNNtjhD0iRSYkFU+4YxyO/ZPhJm7j4GnxOV7NO6H3LHwbZJo="

addons:
  apt:
    packages:
      - libgeos-dev

before_install:
  - pip install poetry

install:
  - poetry install
  - if [ $WITH_SHAPELY -eq 1 ]; then
      poetry add numpy "shapely[vectorized]>=1.6b4" ;
    fi
  - poetry run python -c 'import geopip; print(geopip._geopip.SHAPELY_AVAILABLE)'

script: poetry run pytest

after_success:
  - coveralls

before_deploy:
  - git stash --all
  - poetry build -f sdist

deploy:
  provider: script
  script: poetry publish -u tammoippen -p $PYPI_PASS
  skip_cleanup: true
  on:
    branch: master
    tags: true
    python: "3.6"
    condition: $WITH_SHAPELY -eq 1
